<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Library</title>
</head>
<body>
    <h1>Your Teams</h1>
    <ul>
        <% teams.forEach((team) => { %>
            <li>
                <strong>Team:</strong> <%= team.name %> <br>
                <strong>Sport:</strong> <%= team.sport %> <br>
                <strong>League:</strong> <%= team.league %>
            </li>
        <% }) %>
    </ul>
    <a href="/teams/new">Add a New Team</a>
</body>
</html>