<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Team</title>
</head>
<body>
    <h1>Add a Team</h1>
    <form action="/teams" method="POST">
        <label for="name">Sport</label>
        <input type="text" name="Sport" id="Sport" />

        <label for="name">League</label>
        <input type="text" name="League" id="League">

        <label for="name">Team Name</label>
        <input type="text" name="Team Name" id="Team Name" />

        <button type="Submit">Add Team</button>
        <a href="/teams">Your Teams</a>
    </form>
</body>
</html>